<div class="about-me">
  <img class="dronie" src="/images/dronie.jpg" alt="dronie">
  <div class="about-text">
    <p>I have a passion for web development and design.
      I love living in Colorado where I can ski, hike and take pictures from the air.</p>
  </div>
</div>
