<div class="images">
    <a class="img1" data-lightbox="image-1" href="/images/breck.jpg" alt="Breckenridge"><img src="/images/breck.jpg" alt=""/></a>
    <a class="img2" data-lightbox="image-1" href="/images/boats.JPG" alt="Harbor"><img src="/images/boats.jpg" alt=""/></a>
    <a class="img3" data-lightbox="image-1" href="/images/boulder-pano.jpg" alt="Boulder"><img src="/images/boulder-pano.jpg" alt=""/></a>
    <a class="img4" data-lightbox="image-1" href="/images/hunting.JPG" alt="Weld County"><img src="/images/hunting.jpg" alt=""/></a>
    <a class="img5" data-lightbox="image-1" href="/images/neighborhood-sunset.jpg" alt="Broomfield"><img src="/images/neighborhood-sunset.jpg" alt=""/></a>
    <a class="img6" data-lightbox="image-1" href="/images/office-sunset.JPG" alt="Superior"><img src="/images/office-sunset.jpg" alt=""/></a>
    <a class="img7" data-lightbox="image-1" href="/images/redrocks-pano.jpg" alt="Red Rocks"><img src="/images/redrocks-pano.jpg" alt=""/></a>
    <a class="img8" data-lightbox="image-1" href="/images/redrocks.jpg" alt="Red Rocks"><img src="/images/redrocks.jpg" alt=""/></a>
    <a class="img9" data-lightbox="image-1" href="/images/singer-island.jpg" alt="Singer Island"><img src="/images/singer-island.jpg" alt=""/></a>
</div>
