<header>
  <div class="initials">
    <h1 class="">AT</h1>
  </div>
  <div class="menu">
    <a href="https://www.linkedin.com/in/alantweedie/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    <a href="https://github.com/aetweedie"><i class="fa fa-github-square" aria-hidden="true"></i></a>
    <a href="https://twitter.com/aetweedie"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
  </div>
</header>
<div class="typing">
  <span class="typed"><h1></h1></span>
</div>
<div class="skills">
  <i class="icon-html5"></i>
  <i class="icon-css3"></i>
  <i class="icon-javascript"></i>
  <i class="icon-nodejs"></i>
  <i class="icon-mongodb"></i>
  <i class="icon-reactjs"></i>
  <i class="icon-sass"></i>
</div>
