<div class="typing">
  <span class="typed"><h1></h1></span>
</div>
<div class="skills">
  <i class="icon-html5"></i>
  <i class="icon-css3"></i>
  <i class="icon-javascript"></i>
  <i class="icon-nodejs"></i>
  <i class="icon-mongodb"></i>
  <i class="icon-reactjs"></i>
  <i class="icon-sass"></i>
</div>
