<div class="pdf">
  <a class="open-pdf" href="/images/AlanTweediesResume.pdf" target="_blank">Download a PDF R&#233;sum&#233;</a>
</div>

<div class="job">
  <h2>Web Developer</h2>
  <h4>DISH Network (Formerly EchoStar Technologies). Superior, CO</h4>
  <h4>2015-Present</h4>
  <p>Develop for and maintain <a href="http://www.dishanywhere.com" target="_blank">www.dishanywhere.com</a>, a full stack Node.js application as part of an Agile team.</p>
  <ul class="duties">
    <li>Utilize Javascript (React.js, Coffeescript, Backbone, Handlebars.js and Jquery) for front end development across all current web browsers.</li>
    <li>Deployment and release coordinator, responsible for code deployments to test environments and production.</li>
    <li>Administer Jenkins for deployment and test suite maintenance.</li>
    <li>Use AWS Elastic Beanstalk to manage a large set of dynamically scaled applications.</li>
    <li>Develop and maintain a Selenium Web Driver test suite for test automation.</li>
    <li>Work closely with UI/UX designers to implement responsive web concepts with CSS3 and Bootstrap.</li>
  </ul>
</div>

<div class="job">
  <h2>Specialized Training</h2>
  <h4>Galvanize Full Stack Web Developer Course Boulder, CO</h4>
  <h4>2015</h4>
  <p>Full stack web development course providing training in:</p>
  <ul class="duties">
    <li>JavaScript environments and frameworks (Express.js, Node.js, Angular.js)</li>
    <li>Ruby on Rails</li>
    <li>HTML 5, CSS 3</li>
    <li>Test automation</li>
    <li>UNIX</li>
    <li>Database tools and data management (SQL, PostgreSQL, MongoDB)</li>
    <li>Git and Github source code controls</li>
    <li>API Development</li>
    <li>Cloud and distributed systems (Heroku, AWS, Divshot)</li>
  </ul>
</div>

<div class="job">
  <h2>Test Automation and Quality Assurance Engineer</h2>
  <h4>DigitalGlobe, Inc. Longmont, CO</h4>
  <h4>2013-2015</h4>
  <p>Test and validate satellite imagery and associated metadata. Perform quality assurance tasks and system related functionality testing. Member of an Agile Scrum team.</p>
  <ul class="duties">
    <li>Support the planning, development, and implementation of procedures for the testing and evaluation of DigitalGlobe software products and business processes.</li>
    <li>Daily use of test tracking tools Jira and Rally.</li>
    <li>Active participant in Scrum ceremonies including sprint planning, daily Scrum meetings, demos and retrospectives.</li>
    <li>Regularly employ XML testing tools soapUI and XML Spy.</li>
  </ul>
</div>

<div class="job">
  <h2>Satellite Operations Training Specialist</h2>
  <h4>Space Based Infrared Systems (SBIRS) Boulder, CO</h4>
  <h4>2013</h4>
  <p>Plan and manage training plans for development of a newly operational government satellite system. Operate in a diverse environment of engineers, orbital analysts and space system operators.</p>
  <ul class="duties">
    <li>Integrated efforts of operations, engineering and development personnel to establish training objectives and establish operational procedures.</li>
    <li>Ensured operations and test plans are integrated into daily schedules based on current intelligence and imagery.</li>
    <li>Used imagery tools to ensure sensor targeting to maximize satellite intelligence collections.</li>
    <li>Coordinated ground systems operations to ensure communication availability based on space and atmospheric weather conditions.</li>
  </ul>
</div>

<div class="job">
  <h2>United States Navy</h2>
  <h4>Surface Warfare and Intelligence Officer</h4>
  <h4>2004-2010</h4>
  <p>Honorably Discharged Veteran</p>
  <ul class="duties">
    <li>Missile and Space Deputy for NORAD.</li>
    <li>Security advisor to the Iraqi National Police.</li>
    <li>Ordnance Officer <span class="ship">USS BARRY</span> (DDG-52).</li>
  </ul>
</div>

<div class="job last-job">
  <h2>Education</h2>
  <ul class="duties">
    <li>Agile Scrum team certification; 2014</li>
    <li>Graduate Certificate in Homeland Security and Homeland Defense, University of Colorado; Colorado Springs, CO; 2009.</li>
    <li>Bachelor of Science in Advertising College of Journalism and Communications, University of Florida; Gainesville, FL; 2004.</li>
  </ul>
</div>
